.head{
    display: flex;
    flex-direction: row;
    background-color: blue;
    align-items: center;
    height: 40px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: solid;

}
.logo{
    font-weight: bolder;
    font-size: 30px;
    color: white;
    margin-left: 200px;
    flex: 0;
   
   
}
.sea{
    width: 350px;
    height: 25px;
    margin-left: 10px;
    border: none;   
}
.bt{
    margin-left: 18px;
    border: none;
    width: 80px;
    height: 25px;
    font-weight: bolder;
    color: white;
    background-color: blue;
    font-size: 20px;
}
.bo{
    margin-left: 30px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    width: 160px;
    height: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.more{
    margin-left: 30px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    width: 160px;
    height: 15px;
    padding-bottom: 10px

}
.ct{
    margin-left: 30px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    width: 160px;
    height: 15px;
    padding-bottom: 10px
}